dashboard/.vs/dashboard/v16/.suo
dashboard/dashboard.context/obj/Debug/net5.0/dashboard.context.csprojAssemblyReference.cache
dashboard/dashboard.data/obj/Debug/net5.0/dashboard.data.csprojAssemblyReference.cache
